.formDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: left;
}

.formSection{
    border-bottom: 1px solid;
}

.formList {
    margin-bottom: 20px;
    text-align: left;
}

.formLabel {
    display: inline-block;
    width: 200px;
}

.formInput {
    width: 80px;
    margin-right: 10px;
    margin-left: 5px;
    text-align: right;
}

.participantInput {
    width: 80px;
    margin-right: 10px;
    margin-left: 15px;
    text-align: right;
}

.calculationForm {
    display: inline-block;
    border: 2px solid;
    padding: 10px 50px;
}

.formButton {
    margin-bottom: 10px;
    text-align: right;
}

.listItem {
    margin: 10px;
}
