.formDiv {
    margin-bottom: 10px;
    text-align: left;
}
.formLabel {
    display: inline-block;
    width: 150px;
}
.formInput {
    text-align: right;
    width: 80px;
}

.calculationForm {
    display: inline-block;
    outline: 2px solid;
    padding: 20px;
}

.addItemButton {
    margin-bottom: 10px;
}